/* The SIMPLE-TOAST - position it at the bottom and in the middle of the screen */
#simpleToast {
  visibility: hidden; 
  min-width: 15rem; 
  margin-left: -7rem; 
  background-color: #fabd9f;
  color: #1f1f1f; 
  text-align: center; 
  border-radius: 0.125rem;
  padding: 0.8rem;
  position: fixed; 
  z-index: 9991; 
  left: 50%; 
  bottom: 2rem; 
  font-family: 'PT Sans' !important;
  display: inline-flex;
  line-height: 0.75rem;
  
}
#simpleToast span {
  margin-left: 0.75rem;
  margin-top: 0.125rem;
}

/* Show the SIMPLE-TOAST when clicking on a button (class added with JavaScript) */
#simpleToast.show {
  visibility: visible; /* Show the SIMPLE-TOAST */
  /* Add animation: Take 0.5 seconds to fade in and out the SIMPLE-TOAST.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  // -webkit-animation: fadein 0.5s;
  // animation: fadein 0.5s;
}

/* Animations to fade the SIMPLE-TOAST in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 1.9rem; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 1.9rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 1.9rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 1.9rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
