.search-container {
  width: 100%;  
  padding: 0.5rem;
  border: 0.63rem;
  border-color: #808080;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.63rem;
  max-height: 1.5rem;
  height: 1.5rem;
}